.header{
  @include hide-element;
  height: 100vh;
  
  .myself{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .introduce {
      width: 30rem;
      
      h1 {
        margin-bottom: 3rem;
        font-family: $title-font;
        font-size: 50px;
      }

      p {
        font-size: 15px;
        color: $color-2;
        padding-bottom: 2.5rem;
      }

      a{
        color: $color-1;
      }

      i {
        margin-right: 1rem;
      }

      i:hover {
        transform: scale(1.2);
      }
    }

    img {
      margin: 5rem;
    }


  }
  
  .technologies{
    @include hide-element;

    display: flex;
    align-items: center;
    justify-content: center;


    p {
      padding-right:  3rem ;
      font-family: $title-font;
    }

    ul {
      padding: 1rem;
      width: 30vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

  }

  .technologies.show{
    @include show-element
  }
  
}

.header.show {
  @include show-element
}