.header{
  @include hide-element;

  height: 100vh;
  
  .myself{
    padding-left: 25%;
    height: 50%;
    display: flex;
    align-items: center;

    .introduce {
      width: 450px;
      
      h1 {
        margin-bottom: 30px;
        font-family: $title-font;
        font-size: 50px;
      }

      p {
        font-size: 15px;
        color: $color-2;
        padding-bottom: 25px;
      }

      a{
        color: black;
      }

      i {
        margin-right: 15px;
      }

      i:hover {
        transform: scale(1.2);
      }
    }

    img {
      margin: 50px;
    }


  }
  
  .technologies{
    @include hide-element;
    
    height: 100px;
    display: flex;
    align-items: center;
    padding-left:25% ;


    p {
      padding-right:  30px ;
      font-family: $title-font;
    }

    ul {
      padding: 15px;
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

  }

  .technologies.show{
    @include show-element
  }
  
}

.header.show {
  @include show-element
}