.nav-point {
  width: 30px;
  position: relative;
  left: 98%;
  top: 50%;
  transform: translateY(-50%);
  
  

  button {
    padding: 10px;
    background-color: rgba(195, 244, 255,0);
    color: grey;
  }

  button:hover, #button {
    color: black;
  }

}