.nav-point {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  
  
  ul {
    display: flex;
    flex-direction: column;
    button {
      padding: 10px;
      background-color: rgba(195, 244, 255,0);
      color: grey;
      
    }
    
    .point.active {
      color: black;
    }

    
  }

}