.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about-page {
  width: 90vw;
  height: 90vh; 
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
  position: relative; 
  
  .about-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    .professional, .personal {
      h1 {
        text-align: center;
        padding: 1rem 0;
        margin-bottom: 1rem;
      }
    }
  }

  .about-button {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
  }
}
