.header{
  @include hide-element;
  height: 100vh;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .myself{
      width: 100%;
      height: 65vh;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .introduce {
        width: 30rem;
        
        h1 {
          margin-bottom: 3rem;
          font-family: $title-font;
          font-size: 45px;
        }
        
        p {
          padding-bottom: 2.5rem;
          font-size: 15px;
          color: $color-2;
        }
        
        a{
          color: $color-1;

          &:hover{
            transform: scale(1.1);
          }
        }
        
        i {
          margin-right: 1rem;
        }
        
        i:hover {
          transform: scale(1.2);
        }
    }
    
    img {
      margin: 5rem;
    }
    
    
  }
  
  .technologies{
    @include hide-element;
    width: 40vw;
    display: flex;

    p {
      display: flex;
      align-items: center;
      padding-right:  2rem ;
      font-family: $title-font;
      font-size: larger;
    }
    
    
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        padding: 1rem;
      }
    }
    
  }
  
  .technologies.show{
    @include show-element
  }
  
}
}

.header.show {
  @include show-element
}
