@font-face {
  font-family: "title-font";
  src: url(../assets/fonts/Rubik-SemiBold.ttf);
}

@font-face {
  font-family: "text-font";
  src: url(../assets/fonts/Rubik-Regular.ttf);
}

$title-font: "title-font", sans-serif;
$text-font: "text-font", sans-serif;

$color-1: black;
$color-2: grey;

@mixin show-element {
  opacity: 1;
}

@mixin hide-element {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: $text-font;
  user-select: none;
}

body {
  background-color: rgba(195, 244, 255,0.5);
  overflow: hidden;
}