.button {

  height: 5rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1vh;
  left: 1vw;
  border: 2px solid black;
  border-radius: 5px;

  h1 {
    color: $color-1;
  }
}