.navbar {
  .top {
    @include hide-element;
    
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
    
    h3{
      margin-left: 3.5rem;
      font-family: $title-font;
    }
    
    ul{
      width: 25vw;
      display: flex;
      justify-content: space-around;
      
      li {
        font-family: $title-font;
        color: $color-1;
      }
      
      li:hover {
        transform: scale(1.2);
      }
    }
  }
  
  .top.show {
    @include show-element;
  }


  .nav-point {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    right: 0;
    
    
    ul {
      display: flex;
      flex-direction: column;
      button {
        padding: 1rem;
        background-color: rgba(195, 244, 255,0);
        color: $color-2;
        
      }
      
      .point.active {
        color: $color-1;
      }
  
      
    }
  
  }
}