.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  width: 40vw;
  min-height: 78vh;
  overflow: visible;
  
  .midle-line{
    position: absolute;
    top: 5rem;
    height: 35rem;
    border-left: 2px solid black;
  }
  
}